/**
 * Tailwind CSS imports
 * View the full documentation at https://tailwindcss.com
 */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    line-height: 1;
    font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN",
      "Hiragino Sans", Meiryo, sans-serif;
  }
}

.markdown h1 {
  font-size: x-large;
  font-weight: bold;
  color: #203860;
}

.markdown p {
  margin: 1em 0;
}

.markdown a {
  color: #406fbf;
  text-decoration: underline;
}

.markdown ul {
  list-style: disc;
  margin-left: 1em;
}